<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TOP TEN HASHTAGS</a>
    <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input 
        class="form-control me-2" 
        type="search"
        id="query"
        formControlName="query"
        placeholder="search Tweets" 
        aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 tweet-content-container">
      <ng-container *ngIf="!hashtagGroups;">
        <h2 class="no-data-text">Please search above to get the best matching tweets by hashtag 👋😄☝</h2>
      </ng-container>
      <ng-container *ngIf="hashtagGroups && ((hashtagGroups | json) === '{}')">
        <h2 class="no-data-text">OOPS! No results returned, try search something else 🤕</h2>
      </ng-container>
      <ng-container *ngIf="hashtagGroups">
        <ng-container *ngFor="let hashtagGroup of hashtagGroups | keyvalue : asIsOrder">
          <app-accordion 
            [title]="hashtagGroup.key"
            [tweets]="hashtagGroup.value"></app-accordion>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
