<ngb-accordion #acc="ngbAccordion" id="tweetAccordion" activeIds="ngb-panel-0">
    <ngb-panel title={{Title}}>
      <ng-template ngbPanelContent>
        <div *ngFor="let tweet of tweets;" class="card tweet-card">
            <div class="card-body">
              <img src={{tweet.user?.profile_image_url}} class="rounded-circle" />
              <h6 class="card-subtitle mb-2 text-muted inline-text">{{tweet?.user?.name}}</h6>
              <h6 class="card-subtitle mb-2 text-muted inline-text">@{{tweet?.user?.screen_name}}</h6> 
              <p class="inline-text">{{tweet?.created_at | date}}</p>
              <p class="card-text">{{tweet?.text}}</p>
            </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>